{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
        <link rel="icon" href="{% static 'images/batman.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
<style>
.myDiv123 {
  border: 2px outset dimgrey;
  background-color: whitesmoke;
  text-align: center;
}
    #myDIV{
  border: 2px outset dimgrey;
  background-color: whitesmoke;
        margin: 20px;
}
#dtVerticalScrollExample
{
  position:absolute;
  top:290px;
  right:10px;
}
.acad
{
    position:absolute;
  top:250px;
  right:104px;
}
#interest
{
    border-style: solid;
    position: absolute;
    border-right: 2px solid #000000;
    border-width: thin;
    background-color: #fff3cd;
    background-size: cover;
    padding: 4px;
    {#display: block;#}
}

#decline
{
    border-style: solid;
    position: absolute;
    border-right: 2px solid #000000;
    border-width: thin;
    background-color: lightcoral;
    background-size: cover;
    padding: 4px;
}
#improve
{
    border-style: solid;
    position: absolute;
    border-right: 2px solid #000000;
    border-width: thin;
    background-color: greenyellow;
    background-size: cover;
    padding: 4px;
}

#pie
{
    {#border-style: groove;#}

    border-width: thin;
    padding: 8px;
    background-color: #EBE8E3;
    box-shadow: 10px 10px 5px #D3D0CC;

}




</style>


</head>
<body>
{#    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">#}
{##}
{#        <a href="/"><img src="{% static 'images/batman.png' %}" width="50" height="50" style="margin-left: 30px"></a>#}
{#        <h3 style="font-family: 'Brush Script MT'; margin-left: 30px ; color: #fff3cd">S.M.S</h3>#}
{#        <span class="navbar-text">#}
{#              <a class="navbar-right" title="Logout" href="/accounts/logout" ><b>Logout</b> </a>#}
{#    </span>#}
{##}
{#        <a title="Github Link" href="https://github.com/anand-ctrl/Student_Monitoring_System.git" style="margin-left: 1100px"><img src="{% static 'images/github.png' %}" height="30" width="30"></a>#}
{#    </nav>#}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
{#  <a class="navbar-brand" href="#"></a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li><a href="/"><img src="{% static 'images/batman.png' %}" width="50" height="50" style="margin-left: 30px"></a>

        </li>
        <h3 style="font-family: 'Brush Script MT'; margin-left: 30px ; color: #fff3cd; margin-top: 4px" >S.M.S</h3>
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#"></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#"></a>#}
{#      </li>#}
    </ul>

    <span class="navbar-text">
       <a class="navbar-right" title="Logout" href="/accounts/logout" ><b>Logout</b> </a>
    </span>

  </div>
</nav>



    {% if user.is_authenticated %}
        <div class="container" style="float: left; padding-top: 90px" >
        <h1><b>Dashboard</b></h1>

    <h4>Welcome {{ user.first_name }}! </h4>
        <div class="tab">

            <button type="button" class="btn btn-primary"><a style="color: #fff3cd" href="/init_test/take_test">Take Test</a></button>
            <button class="btn btn-primary"  onclick="myFunction()" type="button" >Add Project</button>
            <button type="button" class="btn btn-primary"><a style="color: #fff3cd" href="/accounts/academics">Add/Update Academic Record</a></button>

        {#        <button type="button" class="btn btn-primary btn-lg" onclick="myFunction()">Add Project</button>#}




<div id="myDIV" style="align-content: center;display: none; width: 800px">
<form action="{% url 'submitproject' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="project_name"><b>Project Name</b></label>
            <input type="text" class="form-control" id="project_name" name="project_name" aria-describedby="text" placeholder="Project Name" required>
        </div>

        <div class="form-group">
            <label for="project_description"><b>Project Description</b></label>
            <textarea class="form-control" id="project_description" name="project_description" rows="3"></textarea>
        </div>


        <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="your_role">Your Role</label>
            <p> <b>Your Role</b></p>
            <select class="custom-select mr-sm-2" id="your_role" name="your_role" required>
                    <option selected>Choose...</option>
                     <option value="1">Programmer/Developer</option>
                     <option value="2">Content Creater</option>
                     <option value="3">Hardware</option>
                     <option value="4">Team Leader</option>
                     <option value="5">Resource Manager</option>
            </select>
        </div>
            <br>

        <div class="container">
	<div class="row">
		<input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
            <label class="control-label" for="field1"><b>Skills Used:</b></label>
            <small>(Enter only 5 skills.)</small>
            <div class="controls" id="profs">
                <div class="input-append">
                    <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button></div>
                </div>
            <br>
            <small>Press + to add another form field :)</small>
            </div>
        </div>
	</div>
</div>
        <input type="submit" value="Submit">
        </form>
</div>








    {% else %}
    <button><a href="/accounts/register">Register</a></button>
    <button><a href="/accounts/login">Login</a></button>
    {% endif %}


<div>
    {% if subject %}
        <br>
        <p style="font-size: 20px"><b>List of suggested subjects based on your Initial Test/ Academic Performance:</b></p>
{#        <ol type="1">#}
{#        {% for i in subject %}#}
{##}
{#            <li>{{ i }}</li>#}
{##}
{##}
{#        {% endfor %}#}
{#         </ol>#}


        <table  class="table table-bordered table-sm table-striped" style="width:300px; border: 1px solid black" >
        <thead class="thead-dark">
            <tr>
                <th>S No.</th>
                <th>Suggested Subjects</th>
            </tr>
        </thead>
        <tbody>
            {% for i in subject %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i }}</td>

                </tr>
            {% endfor %}
    </tbody>



    </table>


    {% endif %}

<br>

    {% if subject_scores %}

        <div class="acad"> <h5> <b> Here are your Academics details:</b></h5></div>
<div class="col-xs-offset-9 col-xs-3" >
    <table id="dtVerticalScrollExample" class="table table-hover " style="width:400px; border: 1px solid black" >
        <thead class="thead-dark">
            <tr>
                <th>S No.</th>
                <th>Subjects</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in subject_scores.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
    </tbody>



    </table>
</div>
    {% if interest_result %}
        <p style="font-size: 20px"><b>Suggested career path based on Academic Records:</b></p>
        <p style="font-size: 20px" id="interest"> {{ interest_result }}</p>


        {% endif %}

        {% if final_performance %}
            <br>
            <br>
            <p style="font-size: 20px"><b>Based on your academic performance your:</b></p>
            {% if final_performance == 1 %}

                <p style="font-size: 20px" id="decline">Performance Declined!</p>
                {% else %}
                <p style="font-size: 20px" id="improve">Performance Improved!</p>
                {% endif %}
            {% endif %}



    {% endif %}

<br>
<br>
{% if data %}
<p style="font-size: 20px"><b>Success % in different career path: </b></p>
<div id="pie" style="width: 60%">
<canvas id="myChart" ></canvas>
</div>
{% endif %}



    <footer class="bg-white text-center text-dark" id="dash" style="margin-left: 180px; margin-top: 200px">
{#    <footer class="content" id="dash" style="margin-left: 180px; margin-top: 200px">#}
    <div class="text-center p-3" >
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">SMS allows educational institutions to monitor,
visualize, and analyze the efficiency of education with ease.</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">REQUIRED TECHNOLOGIES</h6>
          <ul class="list-unstyled mb-0" >
            <li class="mb-2"><a  class="text-muted">HTML</a></li>
            <li class="mb-2"><a  class="text-muted">CSS</a></li>
            <li class="mb-2"><a  class="text-muted">Django</a></li>
            <li class="mb-2"><a  class="text-muted">Sqlite</a></li>
            <li class="mb-2"><a  class="text-muted">Javascript</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">SHORTCUTS</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/accounts/login" class="text-muted">Login</a></li>
            <li class="mb-2"><a href="/accounts/register" class="text-muted">Register</a></li>
            <li class="mb-2"><a href="https://github.com/anand-ctrl/Student_Monitoring_System.git" class="text-muted">Github Repo</a></li>
            <li class="mb-2"><a href="/admin" class="text-muted">Admin</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">FEEDBACK</h6>
            <p class="text-muted mb-4">Please click <a href="/accounts/feedback">here</a> to provide us your feedback!</p>
          </div>
        </div>
      </div>
  </footer>
    </div>







</body>

<script>


    var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ label|safe }},
        datasets: [{
            label: '# of Votes',
            data: {{ data|safe }},
            backgroundColor: [
                {#'rgba(255, 99, 132, 0.2)',#}
                {#'rgba(54, 162, 235, 0.2)',#}
                {#'rgba(255, 206, 86, 0.2)',#}
                {#'rgba(75, 192, 192, 0.2)',#}
                {#'rgba(153, 102, 255, 0.2)',#}
                {#'rgba(255, 159, 64, 0.2)'#}
                '#003f5c',
                '#665191',
                '#d45087',
                '#ff7c43',
                '#ffa600'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
       responsive:true
    }
});

    $( document ).ready(function() {
    console.log( "ready!" );
});
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}



  $(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="field' + next + '" type="text">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });



});
    </script>

</html>