{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Take Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudfare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .submit_ans{
            text-align: center;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a href="/"><img src="{% static 'images/batman.png' %}" width="50" height="50" style="margin-left: 30px"></a>
        <h3 style="font-family: 'Brush Script MT'; margin-left: 30px ; color: #fff3cd">S.M.S</h3>

        <a title="Github Link" href="https://github.com/anand-ctrl/Student_Monitoring_System.git" style="margin-left: 1100px"><img src="{% static 'images/github.png' %}" height="30" width="30"></a>
    </nav>
<h3 style="margin-left: 10px; padding-top: 70px" >Hi, {{ user.first_name }} take your Test</h3>
    <h5 style="margin-left: 10px"><b>Instructions:</b></h5>
    <h6 style="margin-left: 10px">1. Attempt all questions.</h6>
    <h6 style="margin-left: 10px">2. On a scale of 1 to 4, answer these questions where:</h6>
    <h6 style="margin-left: 20px">i. 1-Disagree</h6>
    <h6 style="margin-left: 20px">ii. 2-Somewhat</h6>
    <h6 style="margin-left: 20px">iii. 3-Agree</h6>
    <h6 style="margin-left: 20px">iv. 4-Strongly Agree</h6>

    <form action="{% url 'take_test' %}" method="post" style="margin-left: 20px">
        {% csrf_token %}
        {% for i in exam %}
            <hr>
            <p>{{ i.id }}) {{ i.question }}</p>
            <input type="radio" name="{{ i.id }}" required id="{{ i.option1 }}"  value="{{ i.option1 }} ">
            <label for="{{ i.option1 }}">{{ i.option1 }}</label><br>
            <input type="radio" name="{{ i.id }}" required id="{{ i.option2 }}"  value="{{ i.option2 }}">
            <label for="{{ i.option2 }}">{{ i.option2 }}</label><br>
            {% if i.option3 %}
                <input type="radio" name="{{ i.id }}" required id="{{ i.option3 }}"  value="{{ i.option3 }}">
            <label for="{{ i.option3 }}">{{ i.option3 }}</label><br>
            {% endif %}
            {% if i.option4 %}
                <input type="radio" name="{{ i.id }}" required id="{{ i.option4 }}"  value="{{ i.option4 }}">
            <label for="{{ i.option4 }}">{{ i.option4 }}</label>
                <br>
            {% endif %}

        {% endfor %}
    <br>
    <div class="submit_ans">
{#        <input onclick="showAlert()" type="submit" value="Submit Answers">#}
      <button  type="submit" class="btn btn-primary">Submit Answers</button>
    </div>


    </form>
{% else %}
    <script>
$(function(){
    var validator = $("#form").kendoValidator({
        rules: {
            radio: function(input) {
                if (input.filter("[type=radio]") && input.attr("required")) {
                    return $("#form").find("[type=radio][name=" + input.attr("name") + "]").is(":checked");
                }
                return true;
            }
        },
        messages: {
            radio: "This is a required field"
        }
    }).getKendoValidator();

    $("#post").click(function() {
        validator.validate();
    });
});
</script>
    <button><a href="/accounts/register">Register</a></button>
    <button><a href="/accounts/login">Login</a></button>
    {% endif %}

</body>
</html>